<!doctype html>
<html lang="en" ng-app="clientesModulo">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/complemento.css" />
    <link rel="shortcut icon" href="smanager.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller/clientes-web.js"></script>
    <style>
    
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      
    </style>
    <title>SManager Clientes</title>
  </head>
  <body ng-controller="clientesController">
    
    <div class="ng-scope" ng-include="'menus.html'"></div>  	

    <div class="espacamento-header">
      <div class="container">

        <!--Início implementação por abas-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pesquisa de cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Cadastro de cliente</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
            -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group" style="margin-top:40px;">
                  <label for="pesquisa">Busca:</label>
                  <input type="text" class="form-control" ng-model="pesquisaCliente" id="pesquisa" placeholder="Pesquisar registros">
                </div>
      
                <table class="table table-striped table-hover">
                  <th>Código</th>
                  <th>Nome/Razão</th>
                  <th>Nome Fantasia</th>
                  <th>CNPJ</th>
                  <th>Endereço</th>
                  <th>Número</th>
                  <th>Vendedor</th>
                  <th>Telefone 1</th>
                  <th>Telefone 2</th>
                  <th>E-mail</th>
                  <tr ng-repeat="listaClientes in clientesLista | filter:pesquisaCliente" ng-click="selecionaCliente(listaClientes)" class="linha-foco">
                    <td>{{listaClientes.codigocliente}}</td>
                    <td>{{listaClientes.razaocliente}}</td>
                    <td>{{listaClientes.fantasiacliente}}</td>
                    <td>{{listaClientes.cnpjcliente}}</td>
                    <td>{{listaClientes.enderecocliente}}</td>
                    <td>{{listaClientes.numeroenderecocliente}}</td>
                    <td>{{listaClientes.vendedoresModel.nomevendedor}}</td>
                    <td>{{listaClientes.telefone1}}</td>
                    <td>{{listaClientes.telefone2}}</td>
                    <td>{{listaClientes.emailcliente}}</td>
                  </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form class="espacamento-form">
                    <div class="form-group">
                        <label for="codigocliente">Código:</label>
                        <input type="text" ng-model="cliente.codigocliente" ng-disabled="true" class="form-control" id="codigocliente" aria-describedby="codigoclienteHelp" placeholder="">
                        <!--<small id="nomeclienteHelp" class="form-text text-muted">Inserir a Razão/Fantasia do cliente.</small>-->
                    </div>  
                    <div class="form-group">
                      <label for="razaocliente">Razão Social:</label>
                      <input type="text" maxlength="60" ng-model="cliente.razaocliente" class="form-control" id="razaocliente" aria-describedby="razaoclienteHelp" placeholder="Limite de 60 caracteres">
                      <!--<small id="nomeclienteHelp" class="form-text text-muted">Inserir a Razão/Fantasia do cliente.</small>-->
                    </div>
                    <div class="form-group">
                      <label for="fantasiacliente">Nome Fantasia:</label>
                      <input type="text" maxlength="60" ng-model="cliente.fantasiacliente" class="form-control" id="fantasiacliente" aria-describedby="fantasiaclienteHelp" placeholder="Limite de 60 caracteres">
                      <!--<small id="nomeclienteHelp" class="form-text text-muted">Inserir a Razão/Fantasia do cliente.</small>-->
                    </div>
                    <div class="form-group">
                      <label for="cnpjcliente">CNPJ:</label>
                      <input type="text" maxlength="14" ng-model="cliente.cnpjcliente" class="form-control" id="cnpjcliente" placeholder="limite de 14 caracteres(não inserir pontos)">
                    </div>
                    <div class="form-group">
                      <label for="cepcliente">CEP:</label>
                      <input type="text" maxlength="8" ng-model="cliente.cepcliente" class="form-control" id="cepcliente" placeholder="Limite de 08 caracteres (não inserir pontos, em breve com busca em base dos correios)" onkeypress="$(this).mask('00.000-000')">
                    </div>
                    <div class="form-group">
                      <label for="enderecocliente">Endereço/Logradouro:</label>
                      <input type="text" maxlength="60" ng-model="cliente.enderecocliente" class="form-control" id="enderecocliente" placeholder="Limite de 60 caracteres">
                    </div>
                    <div class="form-group">
                      <label for="numeroenderecocliente">Número:</label>
                      <input type="text" maxlength="60" ng-model="cliente.numeroenderecocliente" class="form-control" id="numeroenderecocliente" placeholder="Limite de 60 caracteres">
                    </div>
                    <div class="form-group">
                      <label for="complementocliente">Complemento:</label>
                      <input type="text" maxlength="60" ng-model="cliente.complementoenderecocliente" class="form-control" id="complementocliente" placeholder="Endereço possui complemento?(Limite de 60 caracteres)">
                    </div>
                    <div class="form-group">
                      <label for="bairrocliente">Bairro:</label>
                      <input type="text" maxlength="60" ng-model="cliente.bairrocliente" class="form-control" id="bairrocliente" placeholder="Limite de 60 caracteres">
                    </div>
                    <div class="form-group">
                      <label for="cidadecliente">Cidade:</label>
                      <input type="text" ng-model="cliente.cidadecliente" class="form-control" id="cidadecliente" placeholder="Cidade">
                    </div>
                    <div class="form-group">
                      <label for="ufcliente">UF:</label>
                      <input type="text" maxlength="60" ng-model="cliente.ufcliente" class="form-control" id="ufcliente" placeholder="Limite de 02 caracteres">
                    </div>
                    <!--Início seleção de vendedores -->
                    <div class="form-group">
                      <label for="vendedoresModel" ng-click="removeVendedorModel()" onclick="removeVendedorSelecionado()">Vendedor:</label>
                      <select id="comboVendedores" class="custom-select" ng-model="cliente.vendedoresModel" ng-options="vendedoresModel.nomevendedor for vendedoresModel in vendedoresLista track by vendedoresModel.codigovendedor"><!--<select class="custom-select"> -->
                        
                      </select>
                      <small id="vendedorHelp" class="form-text text-muted">Vendedor não é obrigatório</small>
                    </div>
                  <!-- fim seção de vendedores -->
                    <div class="form-group">
                      <label for="telefone1">Telefone 1:</label>
                      <input type="text" maxlength="14" ng-model="cliente.telefone1" class="form-control" id="telefone1" placeholder="Limite de 14 caracteres">
                    </div>
                    <div class="form-group">
                      <label for="telefone2">Telefone 2:</label>
                      <input type="text" maxlength="14" ng-model="cliente.telefone2" class="form-control" id="telefone2" placeholder="Limite de 14 caracteres">
                    </div>
                    <div class="form-group">
                        <label for="emailcliente">E-mail:</label>
                        <input type="text" maxlength="60" ng-model="cliente.emailcliente" class="form-control" id="emailcliente" placeholder="Limite de 60 caracteres">
                    </div>            
                    <button type="submit" ng-click="gravarCliente()" ng-disabled="!cliente.razaocliente" class="btn btn-outline-success btn-gravar">Gravar</button>
                    <button type="submit" ng-click="excluirCliente()" ng-disabled="!cliente.codigocliente" class="btn btn-outline-danger btn-excluir">Excluir</button>
                </form>
            </div>
        </div>
        <!--Fim implementação por abas-->
      </div>

      
        <!-- FOOTER -->
        <footer class="container margem-rodape">
          <p class="float-right" ng-click=""><a href="#">Topo página</a></p>
          <!-- <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p> -->
        </footer>
      </main>
    </div>  


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        function removeVendedorSelecionado() {
          document.getElementById("comboVendedores").selectedIndex = "-1";
        }
        </script>
  </body>
</html>
