<!doctype html>
<html lang="en" ng-app="emissaoPedidoModulo">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/complemento.css" />
    <link rel="shortcut icon" href="imagens/smanager.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="controller/emissao_pedido.js"></script>
    <script src="js/complemento.js"></script>
    <style>
    
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      
    </style>
    <title>SManager Emissão de Pedidos</title>
  </head>
  <body ng-controller="emissaoPedidoController">

    <div class="ng-scope" ng-include="'menus.html'"></div>  	
    
    <div class="espacamento-header">
      <div class="container">

        <!--Início implementação por abas-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pesquisa de pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Emissão de pedido</a>
            </li>
            <!--
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
            </li>
            -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="form-group" style="margin-top:40px;">
                  <label for="pesquisa">Busca:</label>
                  <input type="text" class="form-control" ng-model="pesquisaPedidos" id="pesquisa" placeholder="Pesquisar registros">
                </div>
      
                <table class="table table-striped table-hover">
                  <th>Núm. Pedido</th>
                  <th>Cliente</th>
                  <th>Valor Total</th>
                  <th>Data Pedido</th>
                  <tr ng-repeat="listaPedidos in pedidosLista | filter:pesquisaPedidos | orderBy : 'numeropedido'" ng-click="selecionaPedido(listaPedidos)">
                    <td>{{listaPedidos.numeropedido}}</td>
                    <td>{{listaPedidos.clienteModel.razaocliente}}</td>
                    <td>{{listaPedidos.valortotalpedido}}</td>
                    <td>{{listaPedidos.datapedido}}</td>
                  </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <form class="espacamento-form">
                  <!-- Cabeçalho do pedido -->
                  <h6 class="espacamento-secao">Cabeçalho</h6>
                  <div id="cabecalho-pedido" class="divisor-secao">
                    <div class="form-row">
                      <div class="form-group col-md-2">
                          <label for="codigocliente">Cód. cliente:</label>
                          <input type="text" ng-model="pedido.clienteModel.codigocliente" class="form-control" id="codigocliente" aria-describedby="codigoclienteHelp" placeholder="" onblur="numeroInteiro(this.id, this.value)">
                      </div>
                      <div class="form-group col-md-10">
                        <label for="clientepedido">Cliente:</label>
                        <input type="text" ng-model="pedido.clienteModel.razaocliente" class="form-control" id="clientepedido" aria-describedby="clientepedidoHelp" placeholder="">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="datapedido">Data do pedido:</label>
                        <input type="date" ng-model="pedido.datapedido" class="form-control" id="datapedido" aria-describedby="datapedidoHelp" placeholder="">
                      </div>
                      <div class="form-group col-md-2">
                        <label for="numeropedido">Número do pedido:</label>
                        <input type="text"  ng-disabled="true" ng-model="pedido.numeropedido" class="form-control" id="numeropedido" aria-describedby="numeropedidoHelp" placeholder="">
                      </div>
                    </div>
                  </div>

                  <!--Inclusão de produtos-->
                  <h6 class="espacamento-secao">Produtos</h6>
                  <div id="produto-pedido" class="divisor-secao">
                    <div class="form-row">
                      <div class="form-group col-md-2">
                        <label for="codigoproduto">Cód. produto:</label>
                        <input type="text" ng-model="pedido.produtoModel.codigoproduto" class="form-control" id="codigoproduto" aria-describedby="codigoprodutoHelp" placeholder="">
                      </div>
                      <div class="form-group col-md-10">
                          <label for="descricaoproduto">Descrição do produto:</label>
                          <input type="text" ng-model="pedido.produtoModel.descricaoproduto" class="form-control" id="descricaoproduto" aria-describedby="descricaoprodutoHelp" placeholder="">
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                          <label for="qtdepedidoproduto">Qtde.:</label>
                          <input type="text"  ng-model="pedido.produtoModel.qtdepedidoproduto" class="form-control" id="qtdepedidoproduto" aria-describedby="qtdepedidoprodutoHelp" placeholder="" onblur="numeroDecimal(this.id, this.value)">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="unidadepedidoproduto">Un medida:</label>
                          <input type="text" ng-disabled="true" ng-model="pedido.produtoModel.unidadepedidoproduto" class="form-control" id="unidadepedidoproduto" aria-describedby="unidadepedidoprodutoHelp" placeholder="">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="valorunitariopedidoproduto">Valor unitário:</label>
                          <input type="text"  ng-model="pedido.produtoModel.valorunitariopedidoproduto" class="form-control" id="valorunitariopedidoproduto" aria-describedby="valorunitariopedidoprodutoHelp" placeholder="" onblur="numeroDecimal(this.id, this.value)">
                        </div>
                        <div class="form-group col-md-2">
                          <label for="valortotalpedidoproduto">Valor total do item:</label>
                          <input type="text" ng-disabled ng-model="pedido.produtoModel.valortotalpedidoproduto" class="form-control" id="valortotalpedidoproduto" aria-describedby="valortotalpedidoprodutoHelp" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                      <div>
                          <button type="submit" ng-click="incluirProduto()" ng-disabled="!pedido.produtoModel.descricaoproduto" class="btn btn-outline-success btn-gravar">Incluir produto</button>
                      </div>
                    </div>
                      <!--grade de produtos incluídos-->
                    <div>
                      <table class="table table-striped table-hover">
                        <th>Núm. item</th>
                        <th>Cód. produto</th>
                        <th>Produto</th>
                        <th>Qtde.</th>
                        <th>Un medida</th>
                        <th>Vl. Unit.</th>
                        <th>Valor Total</th>
                        <tr ng-repeat="item in pedido.produto | filter:pesquisaProduto | orderBy : 'numeropedido'" ng-click="selecionaProduto(produto)">
                            <td>{{item.pedidoProdutoIdModel.numeropedido}}</td>
                            <td>{{item.pedidoProdutoIdModel.codigoproduto}}</td>
                            <td>{{item.descricaoproduto}}</td>
                            <td>{{item.qtdepedidoproduto}}</td>
                            <td>{{item.unidadepedidoproduto}}</td>
                            <td>{{item.valorunitariopedidoproduto}}</td>
                            <td>{{item.valortotalpedidoproduto}}</td>
                        </tr>
                      </table>
                      <div class="form-row">
                        <div>
                            <button type="submit" ng-click="removerProduto()" ng-disabled="!pedido.descricaoproduto" class="btn btn-outline-danger btn-excluir">Remover produto</button>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                  <!-- Rodapé com totais-->
                  <h6 class="espacamento-secao">Totais</h6>
                  <div id="total-pedido" class="divisor-secao">
                      <div class="form-row">
                          <div class="form-group col-md-2">
                            <label for="valortotalpedido">Total de itens.:</label>
                            <input type="text" ng-disabled="true" ng-model="pedido.valortotalpedido" class="form-control" id="valortotalpedido" aria-describedby="valortotalpedidoHelp" placeholder="">
                          </div>
                          <div class="form-group col-md-2">
                            <label for="codigoproduto">Valor total do pedido:</label>
                            <input type="text" ng-disabled="true" ng-model="pedido.codigoproduto" class="form-control" id="codigoproduto" aria-describedby="codigoprodutoHelp" placeholder="">
                          </div>
                      </div>
                  </div>
                    <button type="submit" ng-click="gravarPedido()" ng-disabled="!pedido.descricaoproduto" class="btn btn-outline-success btn-gravar">Gravar</button>
                    <button type="submit" ng-click="excluirPedido()" ng-disabled="!pedido.descricaoproduto" class="btn btn-outline-danger btn-excluir">Excluir</button>
                </form>
            </div>
            <!--
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">contato</div>
            -->
        </div>
        <!--Fim implementação por abas-->
      </div>
      
        <!-- FOOTER -->
        <footer class="container margem-rodape">
          <p class="float-right" ng-click=""><a href="#">Topo página</a></p>
          <!-- <p>© 2017-2019 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p> -->
        </footer>
      </main>
    </div>  

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>